<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.willclub.learnmaterialdesign" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/label_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RecyclerViewListActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_recyclerview"/>
        <activity
            android:name=".activities.RecyclerViewDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_recyclerview"/>
        <activity
            android:name=".activities.ToolBarActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_toolbar"/>
    </application>

</manifest>
